.btn.adddiscuss {
    bottom: 16px;
    right: 16px;
    font-size: 50px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    position: fixed;
    width: 44px;
    height: 44px
}

.btn.border-dark-blue,
.form-control.border-dark-blue,
.form-check-input.bg-dark-blue {
    border-color: #344D67;
}

.form-check-input.bg-dark-blue:checked {
    background-color: #344D67;
}

.container-adddiscussion {
    margin-top: 20px;
}