.job-other-img{
    width: 200px;
}
.container-job-other{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
}
.container-job-other:hover{
    background-color: #EEEEEE;
}
.text-job-other{
    padding: 10px;
}
.footer-profile-company{
    border-top:1px solid gray;
}
.btn.activated{
    border-bottom: 2px solid blue !important;
    border-radius: 0 !important;
    color: blue !important;
    font-weight: bold !important;
}