
#form-login {
    padding: 15px;
    text-align: center;
}

#form-login input[type=email],
input[type=password],
input[type=text] {
    font-size: 13px;
}

#form-login p {
    font-size: 12px;
}
#form-register{
    padding: 10px;
}
#container-register {
    display: flex;
    justify-content: center;
}
.container-register-main img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.container-register-main{
    max-width: 800px;
    margin-top: 60px;
}
.container-login-main img {
    width: 250px;
    height: 250px;
}

#submit {
    margin-top: 15px;
}
.container-reset-main{
    max-width: 800px;
}
@media screen and (max-width:700px) {

    #container-login,
    #container-register {
        padding: 10px;
    }
}

@media screen and (max-width:500px) {
    .container-login-main img {
        width: 200px;
        height: 200px;
    }

    .hero-register {
        width: 200px;
        height: 200px;
    }
}

.btn.button-forgot-password {
    text-decoration: underline;
}

.container-resetpwd{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    height: 700px;
    padding: 5px;
}
.container-resetpwd h2{
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
}