/* .btn.add {
    border-radius: 50%;
    bottom: 16px;
    font-size: 30px;
    height: 50px;
    position: fixed;
    right: 16px;
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
} */

.btn.adddiscuss {
    bottom: 16px;
    right: 16px;
    font-size: 50px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    position: fixed;
    height: 40px;
    width: 40px;
}

.btn.border-dark-blue,
.form-control.border-dark-blue,
.form-check-input.bg-dark-blue {
    border-color: #344D67;
}

.form-check-input.bg-dark-blue:checked {
    background-color: #344D67;
}

.container-adddiscussion {
    margin-top: 20px;
}