.container-dashboard-company{
    margin-left:200px ;
    z-index: 0;
}
.main-content-company{
    width: 90%;
    height:100%;
    position: fixed;
    background:#1E3163;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
}
#content-dashboard p{
    width:300px ;
}
#content-text-dashboard{
    z-index: 1;
    position: relative;
    flex-grow:1;
}
.image-container img{
    width: 300px;
    z-index: 2;
    position: relative;
}
.image-container{
    position: relative;
    text-align: center;
    flex-grow:0.5;
}
#blob{
    width: 500px;
    position: absolute;
    z-index: 0;
    left: 100px;
    top: 10%;
    height: 700px;
}
#blob2{
    position: absolute;
    z-index: 0;
    top: 5%;
    right: 30%;
    width: 300px;
    opacity: 0.5;
}
#blob3{
    position: absolute;
    z-index: 0;
    top: 30%;
    right: 10%;
    width: 600px;

}
@media screen and (max-width:900px) {
    #blob{
        width: 300px;
        left: 50px;
    }
    #blob3{
        top: 50%;
        right: 10%;
        width:400px;
    
    }
    .image-container img{
        width: 300px;
       }
       .image-container{
        text-align: left;
        width: 300px;
       }
}
@media screen and (max-width:750px) {
    #blob{
        width: 250px;
        left: 50px;
    }
    #blob3{
        top: 70%;
        right: 10%;
        width:250px;
    
    }
}
@media screen and (max-width:800px) {
    .container-dashboard-company{
        margin-left:80px ;
    }
}
@media screen and (max-width:500px){
    
    #content-text-dashboard p , #content-text-dashboard h1{
        width:200px  ;
    }
    .image-container img{
        width: 200px;
        margin-left: 0;
    }
    .image-container{
        text-align: center;
    }
}

@media screen and (max-width:350px) {
    #blob{
        width: 180px;
    }
    #blob2{
        right: 5%;
        width: 180px;
    }
    #blob3{
        top: 70%;
        right: 10%;
        width:250px;
    
    }
    #content-text-dashboard p  {
       width: 150px;
    }
    .image-container img{
        width: 150px;
        margin-left: 0;
    }
    .image-container{
                text-align: left;
    }
}