.container-dashboard-company{
    margin-left:200px ;
    z-index: 0;
}
.main-content-company{
    width: 100%;
    height:880px;
    
    background:#1E3163;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
}
#content-dashboard p{
    width:300px ;
}
#content-dashboard{
    flex-grow: 0.5;
    z-index: 1;
}
.image-container img{
    width: 300px;
    z-index: 2;
    position: relative;
}
.image-container{
    position: relative;
}
.blob{
    width:500px;
    height:400px;
    background: rgb(255,0,224);
    background: linear-gradient(184deg, rgba(255,0,224,1) 0%, rgba(255,0,0,1) 100%);
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    top:-200px;
    position: absolute;
    z-index: 0;
    right: 100px;
}
@media screen and (max-width:900px) {
    .blob{
        width: 400px;
        height: 300px;
        right: 50px;
    }
}
@media screen and (max-width:800px) {
    .container-dashboard-company{
        margin-left:80px ;
    }
    .blob{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width:500px){
    .blob{
        width: 180px;
        height: 180px;
        right: 10px;
    }
    #content-dashboard p{
        width:200px ;
    }
    .image-container img{
        width: 200px;
        z-index: 2;
        position: relative;
    }
}