.container-fluid search-bar {
    padding-top: 50px;
}

.picture-profile-discussion {
    border-radius: 5%;
    height: 20px;
    width: 20px;
}

.picture-profile-reply {
    border-radius: 5%;
    height: 30px;
    width: 30px;
}

.padding {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.username {
    font-size: 20px;
}

#form-searchDiscussion {
    margin-top: 80px;
}

#form-searchDiscussion input,
#form-searchDiscussion button {
    border-radius: 20px;
}