.container-forum {
    max-width: 1300px;
    margin: 0 auto;
}

.container-fluid search-bar {
    padding-top: 50px;
}

.picture-profile-discussion {
    border-radius: 5%;
    height: 32px;
    width: 32px;
}

.container-discussion-profile {
    flex-grow: 0.4;
    align-items: center;
    text-align: center;
}

.picture-profile-reply {
    border-radius: 5%;
    height: 32px;
    width: 32px;
}

.code {
    width: 100px;
    border: 1px solid black;
}

.img-profile-discussion {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 0 auto;
}

.username {
    margin: 0;
}

.container-reply {
    width: 80px;
}

.padding {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.indicator-solved {
    margin-left: 5px;

    margin: 0 auto;
}

/* .container-item-discussion .main-container { */
/* width: 350px; */
/* width: 100%; */
/* flex-grow: 0.3; */
/* text-align: justify; */
/* margin-right: 30px; */
/* } */

/* .container-item-discussion .sub-container { */
/* width: 700px; */
/* width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container-item-discussion .card-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} */

.username {
    font-size: 20px;
}

.container-discussion-item .borderless {
    border-radius: 0;
}

.img-discussion-item {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid black;
}

.text-code {
    font-size: 16px;
}

@media screen and (max-width: 200px) {
    .discussion-item-text-reply {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    /* .discussion-item-dot-space {
        display: none;
    } */

    /* .discussion-item-date {
        margin-top: 4px;
        padding-left: 8px;
        width: auto;
    } */
}

/* .container-reply {
    margin-top: 10px;

} */

#form-searchDiscussion {
    margin-top: 80px;
}

#form-searchDiscussion input,
#form-searchDiscussion button {
    border-radius: 20px;
}

.container-item-discussion .card {
    border-radius: 0;
}

.container-item-discussion .card:hover {
    background-color: #EEEEEE;
}

#addDiscussion {
    margin-top: 80px;
}

.pagination-container {
    background-color: #FFFFFF;
    width: 100%;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.175);
}

.pagination-number,
.pagination-button {
    border: none;
    margin: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background-color: #344D67;
    color: #FFFFFF;
}

.pagination-number.active {
    color: #FFFFFF;
    background: #344D67;
}

.bg-white.circle {
    border-radius: 50%;
}