@media screen and (min-width: 800px) {
    #filter {
        display: none;
    }

    #filter-drawer,
    #filter-drawer-skeleton {
        border-radius: 10px;
        margin-top: 80px;
        padding: 20px;
    }

    #close-filter {
        display: none;
    }

    #filter-drawer {
        width: 300px;
    }

    .filterList {
        margin-left: 12px;
    }
}

@media screen and (max-width: 800px) {

    filter-list,
    .filterListSkeleton {
        background-color: #607EAA;
        margin: 0;
        position: fixed;
        top: 56px;
        transform: translate(-100%, 0);
        width: 100%;
        z-index: 10;
        -webkit-transform: translate(-100%, 0);
    }

    #filter {
        margin-top: 80px;
    }

    #filter-drawer,
    #filter-drawer-skeleton {
        padding: 30px;
    }

    #filter-drawer {
        padding-bottom: 80px;
    }

    .open-filter {
        -webkit-transform: translate(0, 0);
        background-color: #607EAA;
        height: 100vh;
        overflow: auto;
        transform: translate(100%, 0);
        transition: transform 1s ease;
    }
}