@media screen and (min-width: 750px) {
    #filter {
        display: none;
    }

    #filter-drawer {
        margin-top: 80px;
    }

    #close-filter {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    filter-list {
        background-color: #607EAA;
        top: 56px;
        position: absolute;
        transform: translate(-100%, 0);
        width: 100%;
        z-index: 10;
        -webkit-transform: translate(-100%, 0);
    }

    #filter {
        margin-top: 80px;
    }

    #filter-drawer {
        padding-top: 30px;
    }

    .open-filter {
        -webkit-transform: translate(0, 0);
        background-color: #607EAA;
        height: 100vh;
        transform: translate(100%, 0);
        transition: transform 1s ease;
    }
}