#container-page-jobs{
    max-width: 1200px;
    margin:  auto;
    margin-top: 50px;
}
.container-jobs{
    display: flex;
    justify-content: center;
}
.item-jobs{
    width: 400px;
    height: 600px;
    margin-right: 50px;
    overflow-y: auto;
    margin-top: 10px;
}
.detail-jobs{
    width: 600px;
    height: 600px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: auto;
}
.detail-container{
    padding:5px
}
.header-detail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.description-detail, .kualifikasi-detail{
    text-align: justify;
    font-size: 12px;
    padding: 10px;
}
.work-detail{
    display: flex;
}
.work-detail p{
    margin: 0;
}
.work-1{
    margin-right: 10px;
}
.footer-detail{
    position: sticky;
    bottom: 0;
    background-color: gray;
    text-align: center;
}
.detail-link{
    margin: 5px;
}
.image-detail img{
    width: 150px;
    margin-right: 20px;
}
.title-detail{
    width: 100%;
}
.title-detail p{
    margin: 0;
    font-size: 13px;
}
.card-item{
    width: 350px;
    height: 250px;
    background-color: white;
    margin: 10px auto;
    border-radius: 10px;
}
.card-item p{
    font-size:12px;
    margin: 2px;
}
.detail-jobs .card{
margin: 50px auto;
text-align: center;
background-color: transparent;
border: 0px;
}
.search{
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
}
.search input, .search button{
    border-radius: 20px;
}
.card-item{
    padding: 15px;
}
.card-image{
    width: 100px;
}

.btn-open-job{
    margin-left: 100px;
}