#container-login {
    display: flex;
    justify-content: center;
}

.container-login-main {
    max-width: 1200px;
    margin-top: 70px;
    display: flex;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
}

#form-login {
    padding: 15px;
    text-align: center;
}

#form-login input[type=email],
input[type=password],
input[type=text] {
    font-size: 13px;
}

#form-login p {
    font-size: 12px;
}

.pwdProgress.hide {
    display: none;
}

.pwdProgress {
    color: white;
    display: block;
    border-radius: 15px;
    height: 15px;
    margin-top: 10px;
}

#container-register {
    display: flex;
    justify-content: center;
}

.container-login-main img {
    width: 350px;
}

#submit {
    margin-top: 15px;
}

@media screen and (max-width:700px) {

    #container-login,
    #container-register {
        padding: 10px;
    }
}

@media screen and (max-width:500px) {
    .container-login-main img {
        width: 200px;
    }

    .hero-register {
        width: 200px;
    }
}

.btn.button-forgot-password {
    text-decoration: underline;
}