.message{
    position: absolute;
    left: -200px;
    bottom:50px;
    width: 200px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.message.success{
    left: 80px;
    bottom:50px;
    transition: all 0.3s;
}
.message.success .message-text{
color: green;
font-weight: bold;
}
.message p{
    padding: 10px;
}