.modal-otp {
    position: absolute;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    width: 300px;
    height: 300px;
    text-align: center;
    display: block;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-otp h3 {
    margin-top: 30px;
}

.modal-otp.hide {
    display: none;
}

.otp {
    display: flex;
    justify-content: center;
}

.modal-otp input {
    width: 30px;
    height: 40px;
    margin: 5px;
    text-align: center;
    background-color: #F9F9F9;
}