.container-profile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card.profile{
    margin-right: 10px;
    height:500px;
}
.card.about{
    max-width: 1200px;
    padding: 10px;
    height:350px;
    margin-bottom: 10px;
}
.card-item-discussion-user {
    background-color: white;
    max-width: 1200px;
    height: 120px;
    margin: 50px auto;
    border-radius: 5px;
}

.container-discussion-user {
    max-width: 1300px;
    height: 500px;
    overflow-y: auto;
    margin: 0px auto;
}
#btn-discussion, #btn-bookmark{
    width: 100px;
    padding:5px;
    margin:0 auto;
    margin-top: 10px;
}