/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Poppins"; */
}

/* main {
    height: 700px;
    background: linear-gradient(to left, #B2C4F1, #fff);
} */

html {
    background-color: #607EAA;
}

main {
    background-color: #607EAA;
}
#navbarNav .nav-link.actived{
    background-color:  #1a2633 !important;
    border-radius: 5px;
}

.navbar {
    position: fixed;
    background-color: #344D67;
}

#sidebar {
    width: 200px;
    height: 100%;
}

#item-sidebar a:hover {
    background-color: #1C3879;
    ;
}

.cursor-progress {
    cursor: progress;
}

p {
    word-break: break-word;
}

pre,
code {
    white-space: normal;
}

#footer {
    padding: 20px;
    color: black;
    font-weight: 500;
    background-color: #344D67;
    color: white;
}

#footer .contact-person,
#footer .footer-features {
    text-decoration: none;
    color: white;
}

#footer li:hover,
#footer .contact-person:hover,
#footer .footer-features:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

#footer .container-footer {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 695px) {
    #footer .container-footer {
        display: block
    }

    #footer .container-footer {
        text-align: center;
    }

    #footer li {
        list-style-type: none;
    }
}